@media (max-width: 1024px) {
    #page {
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    #page {
        margin: 0 auto;
        width: 1024px;
    }
}

body {
    text-align: center;
    background-color: rgb(185, 234, 191);
}

#option-bar {
    display: flex;
    justify-content: space-between;
}

#option-bar input {
    font-size: 1.2rem;
    flex-grow: 0;
    background: rgb(171, 255, 235);
    margin: 0rem 0.5rem;
    padding: 0 0.5rem;
    border: 1px solid black;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#option-bar span {
    visibility: hidden;
    font-size: 1.2rem;
    flex-grow: 1.5;
    overflow: hidden;
    padding: 0.1rem 0.5rem;
    margin: auto 0;
    background-color: rgb(173, 245, 100);
}

h1 {
    margin: 0;
}

/* modal window */

.modal {
    position: absolute;
    background-color: aqua;
    z-index: 1000;
}
