@media all {
    .caption {
        font-size: 200%;
        font-weight: bold;
        float: left;
        margin-left: 25px;
    }
    .time {
        font-size: 150%;
        float: left;
        background-color: rgba(246, 218, 124, 0.8);
        margin: 5px 10px 0px;
    }
    .blank {
        width: 100%;
        height: 1px;
    }
    .main {
        display: block;
        margin: auto;
        width: 95%;
        border: 2px solid black;
        padding: 30px 20px 20px;
        background-color: rgba(255, 213, 213);
    }
    .page {
        font-size: 110%;
        width: 15%;
        height: 30px;
        float: left;
        align-self: center;
        border: 1px solid black;
        background-color: rgba(242, 198, 146, 0.8);
        border-radius: 4px;
        margin-left: 2%;
        cursor: pointer;
    }
    iframe {
        background-color: rgba(249, 226, 226, 0.8);
        border: 2px solid black;
        padding: 1.5% 2.5%;
        height: 500px;
        margin: 2.5%;
        width: 90%;
    }
    .order_time {
        float: right;
        margin-right: 5%;
        height: 25px;
    }
    .st_caption {
        text-align: center;
        height: 100%;
        background-color: rgba(249, 156, 150);
        border: 1px solid black;
        font-size: 110%;
    }
    .confirm {
        height: 100%;
        background-color: rgba(242, 198, 146, 0.8);
        align-self: center;
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
    }
    .title {
        height: 50px;
    }
    div {
        display: inline-block;
    }
}

@media screen and (max-width:900px) {
    /*input.return {
        float: left;
    }*/
}