body {
    text-align: center;
    background-color: rgb(185, 234, 191);
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    font-size: 1.5rem;
    background-image:url( 'https://images.unsplash.com/photo-1525351484163-7529414344d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80' );
}

#option-bar {
    display: flex;
    justify-content: space-between;
}


#option-bar input {
    font-size: 1.2rem;
    flex-grow: 0;
    background: rgb(171, 255, 235);
    margin: 0rem 0.5rem;
    padding: 0 0.5rem;
    border: 1px solid black;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#option-bar span .display-userID{
    font-size: 1.2rem;
    flex-grow: 1.5;
    overflow: hidden;
    padding: 0.1rem 0.5rem;
    margin: auto 0;
    background-color: rgb(173, 245, 100);
}

.panel table {
    margin-left:auto; 
    margin-right:auto;
    background-color: black;
}
.panel table>thead  {
    background-color: #9ACD32;
}

.panel table tbody tr:nth-child(odd) {
    background-color: white;
}/*奇數行為白色*/

.panel table tbody tr:nth-child(even) {
    background-color: #d7ff76;
}/*偶數行為"這個顏色"*/

.panel table tbody .title {
    background-color: #9ACD32;
}/*tfoot內的title class */

.panel table tbody .value {
    background-color: white;
}/*tfoot內的value class */

.panel table tfoot .title {
    background-color: #9ACD32;
}/*tfoot內的title class */
.panel table tfoot .value {
    background-color: white;
}/*tfoot內的value class */

.panel table tfoot .totalPrice {
    background-color: white;
}/*tfoot內的value class */

.panel table tbody .delete button {
    background: none;
    margin: auto 0.2rem;
    border: none;
    color: #1a77ad;
    height: 100%;
}/*刪除的按鈕*/

.time_and_button input {
    font-size: 1.2rem;
    flex-grow: 1;
    background: rgb(171, 255, 235);
    margin: 0 0.3rem;
    border: 1px solid black;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.time_and_button,.page_title{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}