body {
    text-align: center;
    background-color: rgb(185, 234, 191);
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    font-size: 1.5rem;
}

#option-bar {
    display: flex;
    justify-content: space-between;
}


#option-bar input {
    font-size: 1.2rem;
    flex-grow: 0;
    background: rgb(171, 255, 235);
    margin: 0rem 0.5rem;
    padding: 0 0.5rem;
    border: 1px solid black;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#option-bar span .display-userID{
    font-size: 1.2rem;
    flex-grow: 1.5;
    overflow: hidden;
    padding: 0.1rem 0.5rem;
    margin: auto 0;
    background-color: rgb(173, 245, 100);
}

.panel{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.panel table {
    margin-left:auto; 
    margin-right:auto;
    background-color: black;
}
.panel table tbody .value {
    background-color: white;
    width: 300px;
}

.panel table tbody .title {
    background-color: #d7ff76;
}

.panel table tbody .delete button {
    background: none;
    margin: auto 0.2rem;
    border: none;
    color: #1a77ad;
    height: 100%;
}/*刪除的按鈕*/

textarea {
    margin: 15px;
    margin-left:auto; 
    margin-right:auto;
    resize : none;
    overflow: hidden;
    width:354px;
    height:200px;
  }

.action_btn {
    font-size: 1.2rem;
    flex-grow: 1;
    background: rgb(171, 255, 235);
    margin: 0 0.3rem;
    border: 1px solid black;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.time_and_button,.page_title{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}